---
import Link from "../../icons/Link.astro"
import LinkButton from "../../components/LinkButton.astro"
import YoutubeIcon from "../../icons/YoutubeIcon.astro"


const PROJECTS = [
    {
        title: "Audio Design",
        description: "From immersive soundscapes to custom effects, our audio design projects bring depth and character to films, games, and media productions.",
        youtube:"",
        link: "",
        github:"",
        image:"/lexaviva-capture.webp",
    },
    {
        title: "Composition and Scoring",
        description: "Original compositions crafted for films, commercials, and multimedia, blending emotion and storytelling through music.",
        youtube:"",
        link: "",
        github:"",
        image:"/url-shortener-capture.webp",
    },
    {
        title: "Session Artist Clients",
        description: "A showcase of talented artists who have recorded with us, featuring vocalists, instrumentalists, and bands from various genres.",
        youtube:"",
        link: "",
        github:"",
        image:"/spanishhub-capture.webp",
    },
    {
        title: "Songwriting and Production",
        description: "Fully produced songs, from initial concept to final master, demonstrating our expertise in songwriting, arrangement, and high-quality production.",
        link: "",
        github:"",
        image:"/pokemon.webp",
    },
]
---
<div class="flex flex-col gap-10">
  <div class="mx-auto max-w-5xl text-center">
    <p class="text-4xl font-bold tracking-tight text-tertiary sm:text-3xl">My Work</p>
  </div>

  <ul role="list" class="grid grid-cols-1 gap-8 sm:grid-cols-1 lg:grid-cols-2 xl:gap-8 mx-auto max-w-4xl">
    {
      PROJECTS.map(({ image, title, description, link, github, youtube }) => (
        <li class="relative p-4">
          <div class="flex flex-col items-center gap-3 shadow-xl rounded-xl overflow-hidden hover:-translate-y-1 hover:shadow-2xl transition duration-500 ease-in-out min-h-full">
            <img loading="lazy" alt="Projects Photo" class="object-cover w-full h-56 transition sm:h-full hover:scale-105" src={image} />
            
            <div class="p-4 w-full">
              <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
                {title}
              </h3>


              <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>

              <footer class="flex gap-4 mt-4">
                {github && (
                  <LinkButton href={github}>
                    Code
                  </LinkButton>
                )}
                {link && (
                  <LinkButton href={link}>
                    <Link class="size-4" />
                    Preview
                  </LinkButton>
                )}
                {youtube && (
                  <LinkButton href={youtube}>
                    <YoutubeIcon class="size-4" />
                    Highlight
                  </LinkButton>
                )}
              </footer>
            </div>
          </div>
        </li>
      ))
    }
  </ul>
</div>

<!-- {
    PROJECTS.map(({title, description, tags, image, link, github}) => (
        <article>
            <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
            <img class="rounded shadow-2xl shadow-white/10 mb-2" src={image} alt="Project's screenshot" />
            <p class="text-lg mb-4 text-pretty">{description}
            </p>
            <ul class="flex gap-x-2 flex-row mb-2">
                {tags.map((tag) => (
                    <li>
                        <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
                            <tag.icon class="size-4"/> {tag.name}
                        </span>
                    </li>
                ))}
            </ul>


        </article>
    ))
} -->