---
const { href } = Astro.props
---
<a class="items-center" href={href}>
  <span class="relative inline-flex overflow-hidden rounded-full p-[3px]">
    <span class="absolute inset-[-1000%] ">
</span>

    <div class="inline-flex items-center justify-center w-full px-3 py-3  font-semibold text-pretty text-sm bg-[#fa643f] text-navTextSoftWhite hover:bg-[#fa643f] hover:ring-4 hover:ring-navTextSoftWhite rounded-full cursor-pointer backdrop-blur-3xl whitespace-nowrap">
      <slot />
    </div>
  </span>
</a>

<!-- warm colors -->
<!-- <a class="items-center" href={href}>
  <span class="relative inline-flex overflow-hidden rounded-full p-[3px]"> -->
    <!-- <span class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#6366F1_0%,#4F46E5_50%,#6366F1_100%)] dark:bg-[conic-gradient(from_90deg_at_50%_50%,#818CF8_0%,#312E81_50%,#818CF8_100%)]"></span> -->

    <!-- <div class="inline-flex items-center justify-center w-full px-3 py-3 text-sm text-[#36270d] bg-[#E5B473]  rounded-full cursor-pointer dark:bg-[#312E81] dark:text-white/80 backdrop-blur-3xl whitespace-nowrap">
      <slot />
    </div>
  </span>
</a> -->


<!-- <a class="items-center" href={href}>
  <span class="relative inline-flex overflow-hidden rounded-full p-[3px]">
    <span class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#C4A76B_0%,#7A5A31_50%,#C4A76B_100%)]"></span>
     <div class="inline-flex items-center justify-center w-full px-3 py-3 text-sm text-brandTextDark bg-brandPrimary rounded-full cursor-pointer dark:bg-brandSecondaryDark dark:text-brandPrimary backdrop-blur-3xl whitespace-nowrap">  
  
    <slot />
    </div>
  </span>
</a> -->


<!-- blue -->
<!-- <a class="items-center" href={href}>
  <span class="relative inline-flex overflow-hidden rounded-full p-[3px]">  
  <span class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#5973ff_0%,#1e2754_50%,#5973ff_100%)] dark:bg-[conic-gradient(from_90deg_at_50%_50%,#61feeb_0%,#21554E_50%,#61feeb_100%)]"></span>
  
  <div class="inline-flex items-center justify-center w-full px-3 py-3 text-sm text-[#5973ff] bg-[#cdd5ff] rounded-full cursor-pointer dark:bg-gray-800 dark:text-white/80 backdrop-blur-3xl whitespace-nowrap">
    <slot />
    </div>
  </span>
</a> -->



<!-- golden hour -->
<!-- <a class="items-center" href={href}>
  <span class="relative inline-flex overflow-hidden rounded-full p-[3px]">
    <span class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#FFB347_0%,#FF7E5F_50%,#FFB347_100%)] dark:bg-[conic-gradient(from_90deg_at_50%_50%,#FF9A8B_0%,#FF6A88_50%,#FF9A8B_100%)]"></span>

    <div class="inline-flex items-center justify-center w-full px-3 py-3 text-sm text-[#7A3E2E] bg-[#FFD699] rounded-full cursor-pointer dark:bg-[#9A4F32] dark:text-[#FFD699] backdrop-blur-3xl whitespace-nowrap">
      <slot />
    </div>
  </span>
</a> -->