---
import '@fontsource-variable/onest';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { getLangFromUrl } from '../i18n/utils';
import '@fontsource/roboto-slab';
import '@fontsource/rye';



const lang = getLangFromUrl(Astro.url);

interface Props {
	title: string;
	description: string;
	language: string;

}

const { description, title } = Astro.props;
const {currentLocale} = Astro;
console.log(currentLocale);
---

<!doctype html>
<html lang={lang} class="text-black dark:text-white scroll-behavior: smooth font-serif bg-[#F8F4E1] dark:bg-slate-950 min-h-screen w-full overflow-x-hidden relative transition duration-300 ease-in transform hover:-translate-y-1 focus:outline-none">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />

		<title>{title}</title>
	</head>
	<body class="font-roboto relative text-black dark:text-white">
		<div class="fixed left-0 top-0 -z-10 h-full w-full">
			<div class="relative h-full w-full bg-brandAccent dark:bg-slate-950">
				<div class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full bg-gray-50 dark:bg-gray-950
      bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(217,216,255,0.5),rgba(255,255,255,0.9))]
      dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>
			</div>
		</div>
		<Header />
		<slot />
		<Footer />
		<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>

	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;		
	}
	html {
		font-family: 'Roboto Slab', serif, system-ui, sans-serif;
		scroll-behavior: smooth;
	}
	body {
		color: rgba(59, 47, 47, 0.9);
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		
	}
	@media (prefers-reduce-motion: reduce) {
		scroll-behavior: auto;
	}
</style>
